.title {
    display: flex;
    justify-content: center;
    margin: 20px;

    text-transform: uppercase;
}

.dropdown {
    margin-bottom: 20px;
    background-image: var(--card-color);
    color: var(--font-color);
    border-radius: 13px;

    cursor: pointer;
}

.button {
    display: block;
    width: 196px;

    margin-right: auto;
    margin-left: auto;

    margin-bottom: 20px;
}

.loader {
    width: 57px;
    margin-right: auto;
    margin-left: auto;
}
