.tweet {
    position: relative;

    width: 100%;
    max-width: 380px;
    height: 460px;

    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    background-image: url('../../images/cardBcg.png'), var(--card-color);
    background-repeat: no-repeat;
    background-size: 308px, 100%;
    background-position-y: 28px, 0;
    background-position-x: center;

    border-radius: 20px;
    box-shadow: var(--shadow);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .tweet {
        background-image: url('../../images/cardBcg2x.png');
    }
}

.logo {
    display: block;
    width: 76px;

    margin-bottom: 172px;
}

.line {
    height: 8px;

    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 62px;

    background-color: var(--elem-color);
    box-shadow: var(--shadow-inset);
}

.avatar {
    width: 64px;
    border-radius: 36px;
    transform: translateX(-50%) translateY(-40px);
}

.elipse {
    width: 80px;
    height: 80px;
    transform: translateX(-50%) translateY(-43px);
}

.avatar,
.elipse {
    position: absolute;
    top: 50%;
    left: 50%;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    margin-bottom: 26px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: var(--font-color);
}

.info {
    margin: 0;
}
.button {
    display: block;
    width: 196px;

    margin-right: auto;
    margin-left: auto;
}
