@import '~modern-normalize/modern-normalize.css';
@import './sass/vars';

body {
    background-color: var(--main-bcg-color);
    font-family: 'Montserrat', sans-serif;
}

a.active {
    color: var(--acc-color);
}
