.button {
    background-color: var(--elem-color);
    border-radius: 10px;
    border: none;
    padding: 14px 20px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--font-color-alt);

    cursor: pointer;

    &:hover {
        background-color: var(--acc-color);
    }
}
